databases:
  - name: petparadise-db
    plan: free
    databaseName: petparadise
    user: petparadise_user

services:
  - type: web
    name: petparadise-app
    env: docker
    plan: free
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: petparadise-db
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: "*"
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: MYSQL_ATTR_SSL_CA
        value: "/etc/ssl/certs/ca-certificates.crt"
